backend/res/vsa/dtd/vsatemplate.dtd

<!ELEMENT VSA (VSA_DESCRIPTION, INTEGRATION)>
<!ELEMENT VSA_DESCRIPTION (#PCDATA)>
<!ELEMENT INTEGRATION (CONNECTION+)>
<!ELEMENT CONNECTION EMPTY>

<!ATTLIST VSA
	name CDATA #REQUIRED
	rdf CDATA #REQUIRED
>
<!ATTLIST CONNECTION
	id ID #REQUIRED
	component CDATA #REQUIRED
	vlan CDATA #IMPLIED
	description CDATA #IMPLIED
>